<a href="https://colab.research.google.com/github/AmiMunshi/BPSK-TX-RX/blob/master/IBM_Expt_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 # To print second max and second min number in the list using List sort()
#A= [int(N) for N in input().split()]
A= input("Enter the numbers:")
#print(A)
A=list(A)
#print(A)
B=[]
for i in range(len(A)):
    temp= int(A[i])
    #print(temp)
    B.append(temp)
#print(B)
B.sort()
print(B[-2], B[1])

23452

IndexError: ignored

4 3

In [ ]:
type(int(A[2]))

int

In [ ]:
# print the numbers which are not multiple of 5 in the given list using list append() 
A= [int(N) for N in input().split()]
B=[]
for i in range(len(A)):
    if A[i]%5 !=0:
        B.append(A[i])
print(*B, end='')

In [ ]:
#For a given number A which contains only digits 0's and 1's, if it is possible to make all digits same by flipping only one digit, print YES, else print NO
A= input()
n=len(A)
ones= A.count('1')
zeros= A.count('0')
if ones==n-1 or zeros==n-1:
    print("YES",end="")
else:
    print("NO",end="")

01010101
NO

In [ ]:
#For a given list A, with N distinct integers, ascending order without using sort()

In [ ]:
# Sorting a word string using list sort()

string1= input("Enter your string: ")
string1= string1.lower()
list1= string1.split()
list1.sort()
print(list1)

Enter your string: Good morning all we are learning Python
['all', 'are', 'good', 'learning', 'morning', 'python', 'we']

In [ ]:
# Sorting word list in alphabetical order without inbuilt function

string1= input("Enter your string: ")
string1= string1.lower()
string1= string1 +" "
A= string1.split()

length= len(A)

for i in range(length):
    for j in range(length-i-1):
        
          if A[j+1] < A[j]:
              temp= A[j]
              A[j]= A[j+1]
              A[j+1]=temp
                
        
print(A)

Enter your string: 1011
['1011']